{{ $baseurl := .Site.BaseURL }}
<!-- prettier-ignore -->
<h1 class="site-title"> 
  <span class="base05">[</span><span class="base08">A</span
  ><span class="base09">a</span><span class="base0a">r</span
  ><span class="base0b">y</span><span class="base0c">a</span
  ><span class="base0d">n's</span> <span class="base0e">b</span><span class="base0f">l</span><span class="base08">o</span><span class="base0a">g</span><span class="base05">]</span><span class="base05">#_</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}" alt="base16 color scheme">
</div>

<div style="text-align: center">Aaryan's own blog on the internet!</div>
